.registration{
    
    margin: auto;
    width: 500px;
    padding:70px;
    padding-bottom: 300px;
    background-color: bisque;
   box-sizing: border-box;
  box-shadow: 1px 2px 4px black

   
 
  

   
}
.registration h1{
    text-align: center;
}
input[type=text], input[type=password],input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline block;
    border: none;
    background-color: aliceblue;
  }
  .registerbtn {
    
   background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .registerbtn:hover{
   background-color: brown;
  }
  
